@font-face {
  font-family: 'robotoregular';
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/roboto-regular-webfont.woff2') format('woff2'),
    url('/fonts/roboto-regular-webfont.woff') format('woff');
}

html, body {
  margin: 0;
  padding: 0;
}

.header {
  margin: 0;
}

#logo {
  padding-bottom: -4px;
  padding-left: 21.5px;
  padding-top: 7.5px;
}
#early {
  margin:auto;
  padding-bottom: 25px;
  padding-top: 40px;
  text-align: center;
}

p {
  color: #898989;
  font-family: robotoregular;
  font-size: 15px;
}

#video {
  margin: auto;
  max-width: 850px;
  text-align: center;
}

#look {
  margin:auto;
  max-width: 500px;
  padding-top: 10px;
  text-align: center;
}

#look img{
  max-width: 100%;
  width: auto;
}

#exhibits{
  margin: auto;
  text-align: center;
}

ul{
  list-style-type: none;
  padding: 0px;
}

li{
  display: inline;
  padding-right: 8px;
}

#exhibits img{
  max-width: 100%;
  width: auto;
}

#social {
  background-color: #448bff;
  background-image: url('/img/social.png');
  background-position: center center;
  background-repeat: no-repeat;
  height: 132px;
  width:100%;
}

#totop {
  background-image: url('/img/totop.png');
  background-position: center right;
  background-repeat: no-repeat;
  height:70px;
  width:100%;
}

@media only screen and (min-width: 479px) {
  #totop {
    display: none;
  }
}

#bottom {
  background-color: #f7f7f7;
  height: 70px;
  max-width: 100%;
}

#footer{
  background-image: url('/img/footer.png');
  background-position: center left;
  background-repeat: no-repeat;
  float: left;
  height:70px;
  margin-left: 10px;
  padding-right: 300px;
}

#follow{
  background-image: url('/img/follow.png');
  background-position: center right;
  background-repeat: no-repeat;
  float: right;
  height:70px;
  margin-right: 10px;
  padding-right: 250px;
}

@media only screen and (max-width: 600px) {
    #bottom {
          height:150px;
    }
}